body {
	font-family: Poppins;
	font-stretch: expanded;
	color: white;
	background-color: #2E3646;
	margin-bottom: none;
}

h1 {
	font-size: 60pt;
	font-weight: bold;
	margin-left: 20px;
}

#attention {
	font-family: Alegreya;
	font-size: 20px;
	width: 45%;
	padding: 10px, 20px;
	margin-left: 20px;
	text-align: justify;
}

a:link {
	color: lightgrey;
}

a:visited {
	color: lightpink;
}